.main {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.big {
    width: 800px;
    height: 400px;
    background-color: #cccccc;
    color: #b7b7b7;
    font-size: 80px;
    text-align: center;
    line-height: 400px;
    margin-right: 50px;
    margin-bottom: 30px;
    float: left;
}
.content {
    width: 400px;
    float: left;
    margin-right: 50px;
    font-size: 20px;
}
address {
    color: #8E8E8E;
}
.clear {
    clear: both;
}
.small {
    width: 350px;
    height: 150px;
    background-color: #cccccc;
    color: #b7b7b7;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
    margin-right: 100px;
    float: left;
}
.last {
    margin-right: 0px;
}